# Server Configuration
PORT=5001

# Email Configuration (for Nodemailer)
# If using Gmail, use an 'App Password' instead of your main password
EMAIL_USER=your-email@example.com
EMAIL_PASS=your-app-password
